
<!DOCTYPE html>
<html>
<head>
    <title>User Input Form</title>
</head>
<body>
    <form method="POST" action="/">
        <label for="white_blood_cell_count">White Blood Cell Count:</label>
        <input type="text" id="white_blood_cell_count" name="white blood cell count"><br><br>
        <label for="blood_urea">Blood Urea:</label>
        <input type="text" id="blood_urea" name="blood urea"><br><br>
        <label for="serum_creatinine">Serum Creatinine:</label>
        <input type="text" id="serum_creatinine" name="serum creatinine"><br><br>
        <label for="blood_glucose_random">Blood Glucose Random:</label>
        <input type="text" id="blood_glucose_random" name="blood glucose random"><br><br>
        <label for="pedal_edema">Pedal Edema:</label>
        <input type="text" id="pedal_edema" name="pedal edema"><br><br>
        <label for="pus_cell">Pus Cell:</label>
        <input type="text" id="pus_cell" name="pus cell"><br><br>
        <label for="sugar">Sugar:</label>
        <input type="text" id="sugar" name="sugar"><br><br>
        <label for="appetite">Appetite:</label>
        <input type="text" id="appetite" name="appetite"><br><br>
        <label for="albumin">Albumin:</label>
        <input type="text" id="albumin" name="albumin"><br><br>
        <label for="hypertension">Hypertension:</label>
        <input type="text" id="hypertension" name="hypertension"><br><br>
        <input type="submit" value="Submit">
        <h1>result : {{v}}</h1>
    </form>
</body>
</html>
